wordpress/wp-admin/
wordpress/wp-includes/
wordpress/*.php
wordpress/*.html
wordpress/*.htaccess
wordpress/*.txt
wordpress/wp-content/plugins/akismet/
wordpress/wp-content/plugins/hello.php
wordpress/wp-content/themes/
joomla/administrator
joomla/cache
joomla/components
joomla/images
joomla/includes
joomla/language
joomla/libraries
joomla/media
joomla/modules
joomla/templates
joomla/tmp
joomla/cli
joomla/api
joomla/installation